@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-background: #fafbfc;
  --color-primary: #ff0000;
  --color-footerblack: #222222;
  --color-cardblack: #100A0A;
  --color-deepprimary: #B71C1C;
  --color-secondary: #302e47;
  --color-tertiary: #926e6eba;
  --color-overlay: #0000005d;

  --font-title: "Bebas Neue", sans-serif;
  --font-main: "Barlow", sans-serif;
}